/* CIRCLE POPPING IN THE MIDDLE*/
.cubic-bezier-card {
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.cubic-bezier-card-back {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    clip-path: circle(0% at 100% 100%);
}

.cubic-bezier-card:hover .cubic-bezier-card-back {
    left: 0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}

.cubic-bezier-card:hover .card-front {
    opacity: 10%;
    display: none;
    transition: all .7s ease-in-out;
}

.cubic-bezier-card:hover {
    transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

/* CIRCLE POPPING IN THE MIDDLE*/

/*VERTICAL AND HORIZONTAL FLIPS*/
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.flip-card-inner > div:last-child {
    overflow: scroll;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-y.flip-card-inner {
    transform: rotateY(180deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-x.flip-card-inner {
    transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back-y, .flip-card-back-x {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    /*background-color: rgb(112, 189, 126);*/
    color: black;
}

/* Style the back side */
.flip-card-back-y {
    background-color: white;
    transform: rotateY(180deg);
}

/* Style the back side */
.flip-card-back-x {
    background-color: white;
    transform: rotateX(180deg);
}

/*VERTICAL AND HORIZONTAL FLIPS*/
