.cards {
    display: grid;
    grid-template-columns: 30% 30% 26% 14%;
    grid-template-rows: 50% 50%;

    min-height: -webkit-fill-available;
    padding-bottom: 5%;
    position: absolute;
    width: 80%;
    height: 100%;
}

/*-----------------------First Row-------------------------*/


#binary-card {
    background-image: url("assets/logo.png");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    order: 1;
}

#binary-card button {
    color: white;
    border: none;
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 25% 0 0 30%;
}

#js-card {
    height: 150%;
    order: 2;
}

#js-card span {
    font-family: Neutraface Text Bold, sans-serif;
    font-weight: bold;
    font-size: 102px;
    position: absolute;
    right: 0;
    bottom: 0;
}


#js-card .flip-card-front {
    background-color: rgb(241, 209, 121);
}

#php-card {

    order: 3;
    height: 85%;
    grid-column-start: 3;
    grid-column-end: 5;
}

#php-card span {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 102px;
    position: absolute;
    top: 30%;
    left: 30%;
}

#php-card .flip-card-front {
    background-color: rgb(138, 146, 187);
}

/*-----------------------Second Row-------------------------*/

#qa-card {
    order: 4;
}

#qa-card .flip-card-front {
    background-color: rgb(112, 189, 126);
}


#qa-card span {
    font-family: "Open Sans", sans-serif;
    font-size: 102px;
    position: absolute;
    color: white;
    top: 30%;
    left: 30%;
}

#java-card {
    height: 50%;
    order: 5;
    align-self: end;
}

#java-card .flip-card-front {
    background-color: rgb(207, 62, 80);;
}

#java-card span {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 72px;
    position: absolute;
    top: 30%;
    left: 30%;
}

#dotnet-card {
    background-color: rgb(92, 37, 115);
    height: 115%;
    order: 6;
    align-self: end;
    position: relative;
}


#dotnet-card span {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-style: italic;
    font-size: 72px;
    /*position: absolute;*/
    /*justify-self: center;*/
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%)
}


.info-card {
    align-self: flex-end;
    height: 115%;
    order: 7;
}

.info-card span {
    font-family: "Open Sans", sans-serif;
    color: white;
    display: block;
    height: 100%;
}

.info-card-front {
    text-align: center;
    height: 100%;
    transition: transform 0.5s linear;
}

.info-card-front:hover {
    transform: translate(100%);
    /*text-align: center;*/
}

.info-card-front span {
    display: inline-block;
}

.info-card-details {
    display: none;
    overflow: scroll;
}


#events-card {
    height: 40%;
}

#events-card > div {
    background-color: rgb(80, 151, 247);
}

#blog-card {
    background-color: rgb(26, 65, 157);
    height: 40%;
}

#contact-card > div {
    background-color: rgb(11, 37, 90);
}

#contact-card {
    height: 20%;
    color: black;
}

#contact-card span.contacts-icon {
    display: inline;
    font-size: 14px;
    color: black;
    margin: 5px;
}

#contact-card span.contacts-icon:hover {
    color: blue;
}


#contact-card > div > div:last-child {
    padding: 10px;
}


@media (max-width: 968px) {

    .cards {
        display: grid;
        grid-template-columns: 45% 35% 20%;
        grid-template-rows: 50% 25% 25%;

        min-height: -webkit-fill-available;
        padding-bottom: 5%;
        position: absolute;
        /*width: .0%;*/
        height: 80vh;
    }


    #binary-card {
        order: 1;
        height: 100%;
    }

    #js-card {
        height: 100%;
        order: 2;
    }

    #js-card span {
        font-size: 72px;
    }

    .info-card {
        /*align-self: flex-end;*/
        height: 100%;
        order: 3;
    }


    /*-----------------------Second Row-------------------------*/
    #java-card {
        height: 100%;
        order: 4;
        width: 115%;
    }

    #java-card span {
        font-size: 72px;
    }

    #php-card {

        order: 5;
        height: 100%;
        width: 241%;
        grid-column: 3;
        justify-self: end;
    }

    #php-card span {
        font-size: 72px;
    }

    /*-----------------------Third Row-------------------------*/
    #qa-card {
        order: 6;
        grid-column: 1;
        height: 100%;
        width: 115%;
    }

    #qa-card span {
        font-size: 72px;
    }

    #dotnet-card {
        height: 100%;
        order: 7;
        width: 241%;
        grid-column: 3;
        justify-self: end;
    }

    #dotnet-card span {
        font-size: 72px;
        top: 10%;
    }

    footer {
        position: absolute;
        bottom: 5px;
    }


}
