* {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, sans-serif;
}

header {
    padding: 0 10% 1%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    margin-bottom: 20px;
    z-index: 1;
    top: -20px;
    /*transition: all .7s linear;*/
    /*transform: translate(0, 10%);*/
    transform: translate(0, 20px);
    transition: transform 1s;
}

header img {
    height: 4vh;
}

.personal-menu {
    display: flex;
    justify-content: space-between;
    width: 6%;
}

.notifications-icon {
    display: inline-block;
    padding: 10px;
    color: rgb(192, 201, 216);;
}

.notifications-icon:hover {
    display: inline-block;
    padding: 10px;
    color: rgb(145, 153, 163);;
}

.circled-letter {
    display: inline-block;;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background-color: rgb(235, 156, 63);
    border: 2px solid rgb(235, 156, 63);
    color: white;
    text-align: center;
    margin-top: 5px;

}

/*-----------------------Personal Menu DropDown-------------------------*/

.dropdown input {
    display: none;
}

.dropdown [type=checkbox]:checked ~ .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropbtn:focus + .dropdown-content {
    display: block;
}

.dropbtn:not(focus) + .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(234, 133, 50);
}

/*-----------------------Personal Menu DropDown-------------------------*/

/*-----------------------CONTAINER-------------------------*/

.container {
    background: rgb(248, 249, 252);
    padding: 2% 10% 50%;
    position: relative;
    width: 100%;
}

.notifications {
    position: fixed;
    width: 20%;
    opacity: 80%;
    right: 10px;
    bottom: 5%;
    color: white;
    z-index: 1;

}

.notifications > div {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.notifications span {
    padding: 10px;
    margin: 5px 5px 5px;
    border-radius: 5px;
    float: left;
}


.err-notification {
    background-color: red;
}

.warning-notification {
    background-color: orange;
}

.info-notification {
    background-color: royalblue;
}

.success-notification {
    background-color: limegreen;
}

footer {
    background: rgb(248, 249, 252);
    position: relative;

    top: 100%;
    left: 40%;
}

@media (max-width: 968px) {

    .container{
        background: rgb(248, 249, 252);
        padding: 2% 10% 50%;
        position: relative;
        width: 100%;
        height: 100vh;
    }
}
